<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Calendar</title>
    <a href = "./home"> Home </a>
    <a href = "./remarkable"> #I Am Remarkable </a>
    <a href="./resources">Resources</a>
    <a href="./motivation">Quotes</a>
    <a href="./diary">Diary</a>
    <a href="./calendar">Calendar</a>
    <a href="./help">Help</a>
    <a href="{{logout_url}}">Logout</a>
  </head>
  <body>
    <h1>Calendar</h1>
    <!-- Allows user to select year and date: -->
    <input type='date' id='hasta' value='<?php echo date('Y-m-d');?>
  </body>
</html>
