<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Diary</title>
  </head>
  <body>
    <a href = "./home"> Home </a>
    <a href="./resources">Resources</a>
    <a href="./motivation">Quotes</a>
    <a href="./diary">Diary</a>
    <a href="./calendar">Calendar</a>
    <a href="./help">Help</a>
    <h1>Diary Entries</h1>

    <form method="Get" action="/diaryentry">
      <input onclick = "window.location.href = /diaryentry" type="submit" name="" value="+ New entry">
    </form>

<!-- <script type="text/javascript" src="/js/main.js"></script> inside scripts tag-->

    <!-- Displays current date -->
    <p><script> document.write(new Date().toLocaleDateString()); </script></p>


  </body>
</html>
