<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Help</title>
  </head>
  <body>
    <a href = "./home"> Home </a>
    <a href="./resources">Resources</a>
    <a href="./motivation">Quotes</a>
    <a href="./diary">Diary</a>
    <a href="./calendar">Calendar</a>
    <a href="./help">Help</a>
    <h1>Help</h1>
    <h2>Remarkablebecause believes in the power of holines!
      This is a great way for an individual to have access to a live person 24/7!</h2>
    <h3>Abortion:</h3>
    <ol>
      <li> National Domestic Violence hotline: 1-800-799-SAFE</li>
    </ol>
  </body>
</html>
