<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Help</title>
  </head>
  <body>
    <a href = "./home"> Home </a>
    <a href = "./remarkable"> #I Am Remarkable </a>
    <a href="./resources">Resources</a>
    <a href="./motivation">Quotes</a>
    <a href="./diary">Diary</a>
    <a href="./calendar">Calendar</a>
    <a href="./help">Help</a>
    <a href="{{logout_url}}">Logout</a>
    <h1>Help</h1>
    <h2>Remarkablebecause believes in the power of holines!
      This is a great way for an individual to have access to a live person 24/7!</h2>
    <h3>Abortion:</h3>
    <ol>
      <li> National Domestic Violence hotline: 1-800-799-SAFE</li>
      <li>National Abortion Federation Hotline: 1-800-772-9100</li>
    </ol>
    <h3> Abuse:</h3>
    <ol>
      <li> National Sexual Assault Hotline 1-800-656-HOPE (4673)</li>
      <li>National Child Abuse Hotline 1-800-4-A-CHILD (422-4453)</li>
    </ol>
    <h3>Addiction:</h3>
    <ol>
      <li>National Association for Children of Alcoholics 1-888-554-2627</li>
      <li>Drug Abuse National Helpline 1-800-662-4357</li>
    </ol>
    <h3>Domestic Violence: </h3>
    <ol>
      <li>National Domestic Violence Hotline 1-800-799-SAFE</li>
      <li>Battered Women and their Children 1-800-603-HELP</li>
    </ol>
    <h3>Eating disorders</h3>
    <ol>
      <li>Eating Disorders Awareness and Prevention 1-800-931-2237</li>
      <li>National Association of Anorexia Nervosa and Associated Disorders 1-847-831-3438</li>
    </ol>
    <h3>Homeless and Shelters</h3>
    <ol>
      <li>Homeless 1-800-231-6946</li>
      <li>American Family Housing 1-888-600-4357</li>
    </ol>
      <h3>Suicide: </h3>
    <ol>
      <li>Suicide Hotline 1-800-SUICIDE (784-2433)</li>
      <li>Suicide Prevention Hotline 1-800-827-7571</li>
    </ol>
  </body>
</html>
