<!DOCTYPE html>
<html lang="en" dir="ltr">
  <title>Resources</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
    .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
    .fa-heart,.fa-smile-o, .fa-trophy, .fa-cutlery {font-size:200px}
    h2 { color: SkyBlue }
  </style>

  <body>
    <div class="w3-top">
      <div class="w3-bar w3-light-blue w3-card w3-left-align w3-large">
        <!-- <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-pale-blue w3-large w3-light-blue" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a> -->
        <a href="./home" class="w3-bar-item w3-button w3-padding-large w3-light-blue w3-hover-pale-blue">Home</a>
        {% if user %}
        <a href="./remarkable" class="w3-bar-item w3-button w3-padding-large w3-light-blue w3-hover-pale-blue"># I am Remarkable</a>
        <a href="./calendar" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-pale-blue">Calendar</a>
        <a href="./diary" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-pale-blue">Diary</a>
        {% else %}
        <a href="{{login_url}}" class="w3-bar-item w3-button w3-padding-large w3-light-blue w3-hover-pale-blue"># I am Remarkable</a>
        <a href="{{login_url}}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-pale-blue">Calendar</a>
        <a href="{{login_url}}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-pale-blue">Diary</a>
        {% endif %}
        <a href="./motivation" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-pale-blue">Motivational Quotes</a>
        <a href="./resources" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-pale-blue">Resources</a>
        <a href="./help" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-pale-blue">Help</a>
        <a href="{{logout_url}}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-pale-blue w3-margin-right">Log Out</a>
      </div>
      <!-- Navbar on small screens -->
      <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
        {% if user %}
        <a href="./home" class="w3-bar-item w3-button w3-padding-large">Home</a>
        <a href="./remarkable" class="w3-bar-item w3-button w3-padding-large">#IamRemarkable</a>
        <a href="./calendar" class="w3-bar-item w3-button w3-padding-large">Calendar</a>
        <a href="./diary" class="w3-bar-item w3-button w3-padding-large">Diary</a>
        {% else %}
        <a href="{{login_url}}" class="w3-bar-item w3-button w3-padding-large">Home</a>
        <a href="{{login_url}}" class="w3-bar-item w3-button w3-padding-large">#IamRemarkable</a>
        <a href="{{login_url}}" class="w3-bar-item w3-button w3-padding-large">Calendar</a>
        <a href="{{login_url}}" class="w3-bar-item w3-button w3-padding-large">Diary</a>
        {% endif %}
        <a href="./quotes" class="w3-bar-item w3-button w3-padding-large">Quotes</a>
        <a href="./resources" class="w3-bar-item w3-button w3-padding-large">Resources</a>
        <a href="./help" class="w3-bar-item w3-button w3-padding-large">Help</a>
      </div>
    </div>

    <!-- Header -->
    <header class="w3-container w3-pale-blue w3-center" style="padding:128px 16px">
      <h1 class="w3-margin w3-xxxlarge">Help Page</h1>
      <p class="w3-xlarge w3-text-grey">Hotlines are a great way for an individual to have access to emotional support 24/7!</</p>
    </header>

    <!-- First Grid (Purpose) -->
    <div class="w3-row-padding w3-padding-64 w3-container">
      <div class="w3-content">
        <div class="w3-center">
        <h2>Abortion</h2>
          <p> National Domestic Violence hotline: 1-800-799-SAFE</p>
          <p>National Abortion Federation Hotline: 1-800-772-9100</p>
        <h2>Abuse</h2>
          <p> National Sexual Assault Hotline 1-800-656-HOPE (4673)</p>
          <p>National Child Abuse Hotline 1-800-4-A-CHILD (422-4453)</p>
        <h2>Addiction</h2>
          <p>National Association for Children of Alcoholics 1-888-554-2627</p>
          <p>Drug Abuse National Helpline 1-800-662-4357</p>
        <h2>Domestic Violence</h2>
          <p>National Domestic Violence Hotline 1-800-799-SAFE</p>
          <p>Battered Women and their Children 1-800-603-HELP</p>
        <h2>Eating disorders</h2>
          <p>Eating Disorders Awareness and Prevention 1-800-931-2237</p>
          <p>National Association of Anorexia Nervosa and Associated Disorders 1-847-831-3438</p>
        <h2>Homelessness</h2>
          <p>Homeless 1-800-231-6946</p>
          <p>American Family Housing 1-888-600-4357</p>
        <h2>Suicide</h2>
          <p>Suicide Hotline 1-800-SUICIDE (784-2433)</p>
          <p>Suicide Prevention Hotline 1-800-827-7571</p>
      </div>
      </div>
    </div>
  </body>
</html>
