<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home </title>
    <link rel = "stylesheet" type = "text/css" href = "Template/main.css" />
  </head>
  <body>
    <a href = "./home"> Home </a>
    <a href = "./remarkable"> #I Am Remarkable </a>
    <a href="./resources">Resources</a>
    <a href="./motivation">Quotes</a>
    <a href="./diary">Diary</a>
    <a href="./calendar">Calendar</a>
    <a href="./help">Help</a>
    <h1>#IAmRemarkable</h1>

    <form method="Get" action="/remarkable">
      <input onclick = "window.location.href = /remarkable" type="submit" name="" value="What makes you remarkable?">
    </form>

    <form method="Get" action="/resources">
      <input onclick = "window.location.href = /resources" type="submit" name="" value="Resources">
    </form>

    <form method="Get" action="/motivation">
    <input onclick = "window.location.href = /motivation" type="submit" name="" value="Quotes">
    </form>

    <form method="Get" action="/diary">
    <input onclick = "window.location.href = /diary" type="submit" name="" value="Diary">
    </form>

    <form method="Get" action="/Calendar">
    <input onclick = "window.location.href = /calendar" type="submit" name="" value="Calendar">
    </form>

    <form method="Get" action="/help">
    <input onclick = "window.location.href = /help" type="submit" name="" value="Help">
    </form>

    <a href="{{logout_url}}">Logout</a>

    <h2></h2>
  </body>
</html>
