<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <!-- using the if statement in jinja  -->
  {% if user %}
    <script type="text/javascript">
      window.location = "/home"
    </script>
  {% else %}
    <a href="./resources">Resources</a>
    <a href="./motivation">Quotes</a>
    <a href="./help">Help</a>
    <h3>Please log in for a personal experience!</h3>
    <!-- when the user is not logged in -->
    <a href="{{login_url}}">Login</a>
    <h1>#IAmRemarkable</h1>
    <!-- These are the form methods for the individual buttons -->
    <form method="Get" action="/resources">
      <input onclick = "window.location.href = /resources" type="submit" name="" value="Resources">
    </form>

    <form method="Get" action="/motivation">
    <input onclick = "window.location.href = /motivation" type="submit" name="" value="Quotes">
    </form>

    <form method="Get" action="/help">
    <input onclick = "window.location.href = /help" type="submit" name="" value="Help">
    </form>
  {% endif %}

  <!-- <form method="Get" action="/resources">
    <input onclick = "window.location.href = /resources" type="submit" name="Resources" value="Submit">
  </form> -->


  </body>
</html>
