<!DOCTYPE html>
<html lang="en" dir="ltr">
  <title>Remarkable Because...</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
    .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
    .fa-heart,.fa-calendar, .fa-book {font-size:200px}
  </style>

<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-light-blue w3-card w3-left-align w3-large">
    <!-- <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-pale-blue w3-large w3-light-blue" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a> -->
    <a href="./home" class="w3-bar-item w3-button w3-padding-large w3-light-blue w3-hover-pale-blue">Home</a>
    {% if user %}
    <a href="./remarkable" class="w3-bar-item w3-button w3-padding-large w3-light-blue w3-hover-pale-blue"># I am Remarkable</a>
    <a href="./calendar" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-pale-blue">Calendar</a>
    {% else %}
    <a href="./" class="w3-bar-item w3-button w3-padding-large w3-light-blue w3-hover-pale-blue"># I am Remarkable</a>
    <a href="./" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-pale-blue">Calendar</a>
    {% endif %}
    <a href="./diary" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-pale-blue">Diary</a>
    <a href="./motivation" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-pale-blue">Motivational Quotes</a>
    <a href="./resources" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-pale-blue">Resources</a>
    <a href="./help" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-pale-blue">Help</a>
    <a href="{{logout_url}}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-pale-blue w3-margin-right">Log Out</a>
  </div>
  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="./home" class="w3-bar-item w3-button w3-padding-large">Home</a>
    {% if user %}
    <a href="./remarkable" class="w3-bar-item w3-button w3-padding-large">#IamRemarkable</a>
    <a href="./calendar" class="w3-bar-item w3-button w3-padding-large">Calendar</a>
    {% else %}
    <a href="./???????" class="w3-bar-item w3-button w3-padding-large">#IamRemarkable</a>
    <a href="./???????" class="w3-bar-item w3-button w3-padding-large">Calendar</a>
    {% endif %}
    <a href="./diary" class="w3-bar-item w3-button w3-padding-large">Diary</a>
    <a href="./quotes" class="w3-bar-item w3-button w3-padding-large">Quotes</a>
    <a href="./resources" class="w3-bar-item w3-button w3-padding-large">Resources</a>
    <a href="./help" class="w3-bar-item w3-button w3-padding-large">Help</a>
  </div>
</div>


<!-- Header -->
<header class="w3-container w3-pale-blue w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo"># I AM REMARKABLE</h1>
  <p class="w3-xlarge">What makes <b>ME</b> remarkable?</p>
  <a href="./remarkable"><button class="w3-button w3-black w3-padding-large w3-large w3-margin-top w3-hover-light-blue">Get Started</button></a>
</header>

<!-- First Grid (Purpose) -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Our Purpose</h1>
      <h5 class="w3-padding-32">Here at RemarkableBecause, we work to raise the self-advocacy, self-awareness and self-confidence of our users through uplifting messages and self-affirmation.</h5>

      <p class="w3-text-grey">In today's society, the stress level of individuals has reached an all time high, and many people struggle with realizing their self-worth.
        By helping our users remind themselves of their accomplishments, big or small, we hope to empower them in all aspects of life.</p>
    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-heart w3-padding-64 w3-text-light-blue hover-pale-blue"></i>
    </div>
  </div>
</div>

<!-- Second Grid (Remarkable Calendar) -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <a href="./calendar"><i class="fa fa-calendar w3-padding-64 w3-text-light-blue w3-margin-right hover-pale-blue"></i></a>
    </div>

    <div class="w3-twothird">
      <h1>Reminders</h1>
      <h5 class="w3-padding-32">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>

      <p class="w3-text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
</div>

<!-- Third Grid (Diary) -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Tracking Your ...</h1>
      <h5 class="w3-padding-32">sakjdfh</h5>
      <p class="w3-text-grey">sadffsfa</p>
    </div>

    <div class="w3-third w3-center">
      <a href="./diary"><i class="fa fa-book w3-padding-64 w3-text-light-blue hover-pale-blue"></i></a>
    </div>
  </div>
</div>

<!-- Quote of Day -->
<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge"><b>Quote of the day</b></h1>
    <h2 class="w3-margin w3-xlarge">"fsdsfa"</h2>
</div>

<footer class="w3-container w3-padding-64 w3-center w3-opacity">
  <div class="w3-xlarge w3-padding-32">
<!-- social media
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i> -->
 <p>By Valerie Robert, Halle Clottey, Maya Ostrowski and Monica Para</p>
</footer>

<!-- toggle the menu on small screens when clicking on the menu button  -->
<script>
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>
</body>
</html>
