<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>[Title: logged in page]</title>
  </head>
  <body>
    <h1>#IAmRemarkable</h1>

<!-- These are the form methods for the individual buttons -->
    <form method="Get" action="/remarkable">
      <input onclick = "window.location.href = /remarkable" type="submit" name="" value="What makes you Remarkable?">
    </form>

    <form method="Get" action="/resources">
      <input onclick = "window.location.href = /resources" type="submit" name="" value="Resources">
    </form>

    <form method="Get" action="/motivation">
    <input onclick = "window.location.href = /motivation" type="submit" name="" value="Quotes">
    </form>

    <form method="Get" action="/diary">
      <input onclick = "window.location.href = /diary" type="submit" name="" value="Diary Entries">
    </form>

    <form method="Get" action="/calendar">
      <input onclick = "window.location.href = /calendar" type="submit" name="" value="Calendar">
    </form>

    <form method="Get" action="/help">
    <input onclick = "window.location.href = /help" type="submit" name="" value="Help">
    </form>

    <a href="{{logout_url}}">Logout</a>
  </body>
</html>
