<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Resources</title>
  </head>
  <body>
    <a href = "./home"> Home </a>
    <a href="./resources">Resources</a>
    <a href="./quotes">motivation</a>
    <a href="./diary">Diary</a>
    <a href="./calendar">Calendar</a>
    <a href="./help">Help</a>
    <h1>Resources</h1>
    <h2>On this page our users will find a complete guide to a wellness lifestyle </h2>
    <h2>First key to a healthy lifestyle: Battling Anxiety and Stress</h2>
    <h3> 40 million americans deal with anxiety today. In a healthy lifestyle, one must be able to manage the highlevel stress environments they find themselves in. </h2>
      <h4> <a href="https://www.mentalhealthfirstaid.org/external/2018/06/stress-vs-anxiety/"></a> offers a detailed explanation on the significant differences between stress and anxiety.</h4>
    <ol>
      <li> <a href="https://www.themuse.com/advice/5-different-types-of-imposter-syndrome-and-5-ways-to-battle-each-one"> click here for Imposter Syndrome !</a></li>
      <li> <a href="https://www.headspace.com/blog/"></a> if you're looking to begin your path to meditation, don't look further than headspace</li>
      <li> <a href="https://www.themuse.com/advice/5-different-types-of-imposter-syndrome-and-5-ways-to-battle-each-one">Battling Imposter Syndrome</a></li>
      <li> <a href="https://www.umsystem.edu/totalrewards/wellness/mindfulness/mindfulness_practices">Guided Mindfulness Practices</a></li>
      <li> <a href="https://www.researchforwellness.com/mindfulness-resources">More Mindfulness Resources</a></li>
    </ol>
    <h3>The second key is having a resiliant self-Esteem!</h3>
    <h3>Self-Essteem is the value one brings to themselves. <a href="https://www.psychologytoday.com/us/basics/self-esteem"> Psychologytoday offers a detailed explanation of the importance of Self-Esteem</a></h3>
    <ol>
      <li> <a href="http://www.self-esteem-experts.com/self-esteem-worksheets.html">Self-Esteem Experts offers several worksheets sand activites to build up one'ss elf-esteem.</a> </li>
      <li> <a href="https://www.mayoclinic.org/healthy-lifestyle/adult-health/in-depth/self-esteem/art-20047976">if you are worried of having to much self-esteem, do not look further than mayo clinic's article on Self-Esteem check</a></li>
    </ol>
    <h3> the third key which is the best of the best is FOOD!! </h3>
    <h4>ladies and gentlemen we are living in 2019, gone with cow milk in with almond,oat,cocunut, cashew, soy milk!!</h4>
    <ol>
      <li> <a href="http://www.eatingwell.com/recipes/"> eatingwell offerss user a variety of healthy food options that are extremly tasty !</a> </li>
      <li> <a href="https://www.hellofresh.com/"> Here at 75% of our staff use hello fresh a healthy reliable and safe food delivery service </a> </li>
    </ol>
  </body>
</html>
