<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Resources</title>
  </head>
  <body>
    <a href = "./home"> Home </a>
    <a href="./resources">Resources</a>
    <a href="./quotes">motivation</a>
    <a href="./diary">Diary</a>
    <a href="./calendar">Calendar</a>
    <a href="./help">Help</a>
    <h1>Resources</h1>
    <h2>Resources on mindfulnesss and wellness: Your Guide to confidence, self-affirmation and self-realization</h2>
    <h3>First we will take a look at Stress and Anxiety. You may be wondering what is the difference between Stress and Anxiety. Where stress is a short-term experience, a reaction to a threat in a situation, Anxiety is the reaction to Sress. <a href="https://www.mentalhealthfirstaid.org/external/2018/06/stress-vs-anxiety/"></a> Please click here in oder to read a more detailed version on the difference bewteen Stress and Anxiety</h3>
    <ol>
      <li> <a href="https://www.themuse.com/advice/5-different-types-of-imposter-syndrome-and-5-ways-to-battle-each-one"> click here for Imposter Syndrome !</a></li>
      <li> <a href="https://www.headspace.com/blog/"></a> if you're looking to begin your path to meditation, don't look further than headspace</li>
      <li> <a href="https://www.themuse.com/advice/5-different-types-of-imposter-syndrome-and-5-ways-to-battle-each-one">Battling Imposter Syndrome</a></li>
      <li> <a href="https://www.umsystem.edu/totalrewards/wellness/mindfulness/mindfulness_practices">Guided Mindfulness Practices</a></li>
      <li> <a href="https://www.researchforwellness.com/mindfulness-resources">More Mindfulness Resources</a></li>
    </ol>
    <h3>Here at Remarkable we believe in Self-Estem. An individual with a resiliant  </h3>
  </body>
</html>
